@{
    ViewBag.Title = "Appointment created";
}

<div class="main-container">
    <div class="complete-box">
       Your appointment has been created! Check your appointments in "Appointments" menu option or your profile overview in upper right corner!
    </div>
</div>

@section Styles {
    <link href="~/css/create.css" rel="stylesheet" type="text/css" />
}