<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClinicManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", false)
</head>
<body>

    <!-- NAVIGATIONS -->
    <header>

        <!-- SIDEBAR -->
        @if (User.Identity.IsAuthenticated)
        {
            <nav id="sidebarMenu" class="collapse d-lg-block sidebar bg-white">
                <div class="position-sticky">
                    <div class="list-group list-group-flush mt-5 mx-3">
                        <a href="/Home/Index" class="list-group-item list-group-item-action active" aria-current="true">
                            <span>Main site</span>
                        </a>

                        @if (User.IsInRole("Patient") || User.IsInRole("Administrator"))
                        {
                            <a href="/User/Doctors" class="list-group-item list-group-item-action">
                                <span><img src="~/img/icons/stethoscope.svg" class="decoration-icon" />Doctors</span>
                            </a>
                        }

                        @if (User.IsInRole("Doctor") || User.IsInRole("Administrator"))
                        {
                            <a href="/User/Patients" class="list-group-item list-group-item-action">
                                <span><img src="~/img/icons/following.svg" class="decoration-icon" />Patients</span>
                            </a>
                        }

                        <a href="/Appointment/Index" class="list-group-item list-group-item-action">
                            <span><img src="~/img/icons/stethoscope.svg" class="decoration-icon" />Appointments</span>
                        </a>

                        @if (User.IsInRole("Administrator"))
                        {
                            <a href="/User/Panel" class="list-group-item list-group-item-action">
                                <span><img src="~/img/icons/document.svg" class="decoration-icon" />Admin panel</span>
                            </a>
                        }

                    </div>
                </div>
            </nav>
        }
        <!-- TOP NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="#">
                    Logo
                </a>

                <!-- PROFILE -->
                <ul class="navbar-nav ms-auto d-flex flex-row">
                    @await Html.PartialAsync("_LoginPartial")
                </ul>
            </div>
        </nav>
    </header>

    <!-- MAIN -->
    @if (User.Identity.IsAuthenticated)
    {
        <main>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>
    }
    else
    {
        @RenderBody()
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
