@model IEnumerable<ClinicManagement.Models.AppointmentViewModel>

@{
    ViewBag.Title = "Doctors";
}

<div class="main-container">
    <p>Lorem ipsum</p>
</div>

@section Styles {
    
}

@section Scripts{
    
}
