@model IEnumerable<ClinicManagement.Models.AppointmentViewModel>

@{
    ViewBag.Title = "Doctors";
}

<div class="main-container">
    <div class="prescription-box">

        Prescriptions

    </div>
</div>

@section Styles {
    <link href="~/css/prescription.css" rel="stylesheet" type="text/css" />
}

@section Scripts{

}
