<div class="main-container">
    <div class="table-box">
        <a href="/User/Manage">
            <div class="tile red">
                Manage users
            </div>
        </a>
        <a href="/User/ManageRoles">
            <div class="tile orange">
                Manage roles
            </div>
        </a>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/css/panel.css")" rel="stylesheet" type="text/css" />
}

